APP_BASE_URL=http://localhost:3000
AUTH_PROVIDER=demo
DATABASE_URL=
GITHUB_TOKEN=
GITHUB_OWNER=
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AGENTSHIELD_OWNER_EMAIL=leeokk80@gmail.com
AGENTSHIELD_OWNER_INITIAL_PASSWORD=
